APP_SECRET=yoursuperlongsecret
DEFAULT_URI=localhost:8000
DATABASE_URL=mysql://root:${MYSQL_ROOT_PASSWORD}@localhost:3307/${MYSQL_DATABASE}?serverVersion=8&charset=utf8mb4
###> doctrine/mongodb-odm-bundle ###

MONGODB_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@localhost:27017/${MONGO_INITDB_DATABASE}?authSource=admin
MONGODB_DB=${MONGO_INITDB_DATABASE}
###< doctrine/mongodb-odm-bundle ###
